@section CSS {
    <link href="~/css/pages/wizard/wizard-4.css" rel="stylesheet" type="text/css" />
    <style>
        .dropdown.bootstrap-select.form-control.form-control-lg {
            line-height: 1.8rem !important;
        }
    </style>
}
@Html.Partial("~/Views/Shared/_HeaderMobile.cshtml")
<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        @Html.Partial("~/Views/Shared/_Menu.cshtml")
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            @Html.Partial("~/Views/Shared/_Header.cshtml")
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="d-flex flex-column-fluid">
                    <div class="container">
                        @{
                            List<InventarioImpresoras.Models.Roles> listaRoles = ViewBag.Roles as List<InventarioImpresoras.Models.Roles>;
                            List<InventarioImpresoras.Models.Meses> listaMeses = ViewBag.Meses as List<InventarioImpresoras.Models.Meses>;
                            List<InventarioImpresoras.Models.Impresoras> listaImpresoras = ViewBag.Impresoras as List<InventarioImpresoras.Models.Impresoras>;
                            List<InventarioImpresoras.Models.Areas> listaAreas = ViewBag.Areas as List<InventarioImpresoras.Models.Areas>;
                        }
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-custom example example-compact">
                                    <div class="card-header">
                                        <h3 class="card-title">Agregar usuario</h3>
                                    </div>
                                    <form id="kt_form_1" method="POST" class="form">
                                        <div class="card-body">
                                            <div class="alert alert-custom alert-light-danger d-none" role="alert" id="kt_form_1_msg">
                                                <div class="alert-icon">
                                                    <i class="flaticon2-information"></i>
                                                </div>
                                                <div class="alert-text font-weight-bold"></div>
                                                <div class="alert-close">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span>
                                                            <i class="ki ki-close"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    @{
                                                        int[] meses = Enumerable.Range(1, 12).ToArray();
                                                        int mesActual = DateTime.Today.Month;
                                                    }
                                                    <label>Fecha de lectura:</label>
                                                    <span class="text-danger">*</span>
                                                    <select id="dropFechaLectura" name="FechaLectura" class="form-control selectpicker" data-size="7" data-live-search="true">
                                                        <option value="">Seleccione...</option>
                                                        @foreach (InventarioImpresoras.Models.Meses mes in listaMeses)
                                                        {
                                                            if (mes.IdMes == mesActual)
                                                            {
                                                                <option value="@mes.IdMes" selected>@mes.Nombre</option>
                                                            }else
                                                            {
                                                                <option value="@mes.IdMes">@mes.Nombre</option>
                                                            }

                                                        }
                                                    </select>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Area:</label>
                                                    <span class="text-danger">*</span>
                                                    <select id="dropArea" name="Area" class="form-control selectpicker" data-size="7" data-live-search="true">
                                                        <option value="">Seleccione...</option>
                                                        @foreach (InventarioImpresoras.Models.Areas area in listaAreas)
                                                        {
                                                            <option value="@area.IdArea">@area.Nombre</option>
                                                        }
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>Impresora:</label>
                                                    <span class="text-danger">*</span>
                                                    <select id="dropImpresora" name="Impresora" class="form-control selectpicker" data-size="7" data-live-search="true">
                                                        <option value="">Seleccione...</option>
                                                        @* @foreach (InventarioImpresoras.Models.Impresoras impresora in listaImpresoras)
                                                        {
                                                            <option value="@impresora.IdImpresora">@impresora.Nombre</option>
                                                        } *@
                                                    </select>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Marca:</label>
                                                    <span class="text-danger">*</span>
                                                    <input id="txtMarca" name="Marca" type="text" class="form-control" placeholder="Ingresar marca" readonly/>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>Modelo:</label>
                                                    <span class="text-danger">*</span>
                                                    <input id="txtModelo" name="Modelo" type="text" class="form-control" placeholder="Ingresar modelo" readonly />
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Lectura anterior:</label>
                                                    <span class="text-danger">*</span>
                                                    <input id="txtLecturaAnterior" name="LecturaAnterior" type="text" class="form-control" placeholder="Ingresar lectura anterior" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>Lectura actual:</label>
                                                    <span class="text-danger">*</span>
                                                    <input id="txtLecturaActual" name="LecturaActual" type="text" class="form-control" placeholder="Ingresar lectura actual" />
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Número de copias procesadas:</label>
                                                    <span class="text-danger">*</span>
                                                    <input id="txtNumeroCopiasProcesadas" name="NumeroCopiasProcesadas" type="text" class="form-control" placeholder="Ingresar número de copias procesadas" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-12">
                                                    <label>Observaciones:</label>
                                                    <span class="text-danger">*</span>
                                                    <textarea class="form-control"></textarea>
                                                </div>
                                            </div>

                                            <div class="example-code mt-10">
                                                <ul class="example-nav nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-2x">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" data-toggle="tab" href="#example_code_html">HTML</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="example_code_html" role="tabpanel">
                                                        <div class="example-highlight">
                                                            <pre style="height:400px">
                                                    </pre>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label text-right col-lg-3 col-sm-12">URL *</label>
                                                    <div class="col-lg-9 col-md-9 col-sm-12">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="flaticon2-website"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="url" placeholder="Enter your url" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-lg-12" style="text-align:center;">
                                                    <a href="@Url.Action("Index", "Usuario")" class="btn btn-light-primary font-weight-bold">Cancelar</a>
                                                    <button id="btnRegistrar" type="submit" class="btn btn-primary font-weight-bold mr-2" name="submitButton">Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Shared/_Footer.cshtml")
        </div>
    </div>
</div>
@section Scripts {
    <script src="/js/validaciones/registrarUsuario.js" type="text/javascript"></script>
    <script>
        function registrarUsuario()
        {
            let nombre = $("#txtNombres").val()
            let apellidoPaterno = $("#txtApellidoPaterno").val()
            let apellidoMaterno = $("#txtApellidoMaterno").val()
            let usuario = $("#txtUsuario").val()
            let password = $("#txtPassword").val()
            let idRol = $("#dropRol").val()

            $.ajax({
                url: "/Usuario/registrar",
                data: { nombre: nombre, apellidoPaterno: apellidoPaterno, apellidoMaterno: apellidoMaterno, usuario: usuario, password: password, idRol: idRol },
                type: "POST",
                success: function (response)
                {
                    if (response > 0)
                    {
                        swal.fire({
                            icon: "success",
                            buttonsStyling: false,
                            confirmButtonText: "Ok!",
                            title: "Registro agregado con &eacutexito!",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then(function () {
                            KTUtil.scrollTop();
                        });
                        /*
                        setTimeout(function () {
                            window.location = "/Usuario/"
                        },
                        3000);
                        */
                    }
                    else
                    {
                        swal.fire({
                            icon: "error",
                            buttonsStyling: false,
                            confirmButtonText: "Ok!",
                            title: "Ocurrio un error!",
                            text: "Contacta a tu administrador",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then(function () {
                            KTUtil.scrollTop();
                        });
                    }
                }
            })
        }
        //var respuestaLectura = null
        $(document).ready(function () {
            $("#btnRegistrar").click(function (e) {
                e.preventDefault()
                validarCampos()
            })

            $("#dropArea").change(function () {

                let idArea = $("#dropArea").val()
                $.ajax({
                    url: "/Lectura/ConsultarImpresorasPorArea",
                    data: { idArea: idArea },
                    type: "POST",
                    success: function (response) {
                        console.log("response: \n")
                        console.log(response)
                        let append = ""
                        append = "<option value=''>Seleccione..</option>"
                        $(response).each(function (index, value) {
                            append += "<option data-modelo='" + value.modelos[0].nombre + "' data-marca='" + value.marcas[0].nombre + "' value=" + value.idImpresora + ">" + value.nombre + "</option>"
                        })

                        $("#dropImpresora").html(append)
                        $("#dropImpresora").selectpicker('refresh')
                    }
                })
            })

            $("#dropImpresora").change(function () {
                /*
                console.log("THIS MODELO: \n")
                console.log($(this).data('modelo'))
                console.log("THIS MARCA: \n")
                console.log($(this).data('marca'))
                */
                //console.log($(this).data('dataModelo'))
                /*
                console.log("Modelo: \n")
                console.log($(this).find(':selected').attr('data-modelo'))
                console.log("Marca: \n")
                console.log($(this).find(':selected').attr('data-marca'))
                */
                let modelo = $(this).find(':selected').attr('data-modelo')
                let marca = $(this).find(':selected').attr('data-marca')
                $("#txtMarca").val(marca)
                $("#txtModelo").val(modelo)

                const d = new Date();
                //month = month + 1
                //let currentYear = new Date().getFullYear();

                // console.log("mes: " + month + "\n")
                // console.log("currentYear: \n")
                // console.log(currentYear)

                let idImpresora = $("#dropImpresora").val()
                let idMes = d.getMonth()
                let año = new Date().getFullYear()

                $.ajax({
                    url: "/Lectura/ConsultarLecturaAnterior",
                    data: { idImpresora: idImpresora, idMes: idMes, año: año },
                    type: "POST",
                    success: function (response) {
                        console.log("response: \n")
                        console.log(response)
                        //respuestaLectura = response
                        if (response.length > 0)
                        {
                            $("#txtLecturaAnterior").val(response[0].lecturaActual)
                        }
                    }
                })
            })
        })
    </script>
}
