@section CSS {
    <link href="~/css/pages/wizard/wizard-4.css" rel="stylesheet" type="text/css" />
    <style>
        .dropdown.bootstrap-select.form-control.form-control-lg {
            line-height: 1.8rem !important;
        }
    </style>
}
@Html.Partial("~/Views/Shared/_HeaderMobile.cshtml")
<div class="d-flex flex-column flex-root">
    <div class="d-flex flex-row flex-column-fluid page">
        @Html.Partial("~/Views/Shared/_Menu.cshtml")
        <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
            @Html.Partial("~/Views/Shared/_Header.cshtml")
            <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
                <div class="d-flex flex-column-fluid">
                    <div class="container">
                        @{
                            List<InventarioImpresoras.Models.Roles> listaRoles = ViewBag.Roles as List<InventarioImpresoras.Models.Roles>;
                            List<InventarioImpresoras.Models.Usuarios> listaUsuario = ViewBag.Usuarios as List<InventarioImpresoras.Models.Usuarios>;
                        }
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-custom example example-compact">
                                    <div class="card-header">
                                        <h3 class="card-title">Editar usuario</h3>
                                    </div>
                                    <form id="kt_form_1" method="POST" class="form">
                                        <div class="card-body">
                                            <div class="alert alert-custom alert-light-danger d-none" role="alert" id="kt_form_1_msg">
                                                <div class="alert-icon">
                                                    <i class="flaticon2-information"></i>
                                                </div>
                                                <div class="alert-text font-weight-bold"></div>
                                                <div class="alert-close">
                                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                        <span>
                                                            <i class="ki ki-close"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>Nombre (s):</label>
                                                    <span class="text-danger">*</span>
                                                    <input id="txtNombres" name="Nombres" type="text" class="form-control" placeholder="Ingresar nombre (s)" value="@listaUsuario[0].Nombres"/>
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Apellido paterno:</label>
                                                    <span class="text-danger">*</span>
                                                    <input id="txtApellidoPaterno" name="ApellidoPaterno" type="text" class="form-control" placeholder="Ingresar apellido paterno" value="@listaUsuario[0].ApellidoPaterno" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>Apellido materno:</label>
                                                    <span class="text-danger">*</span>
                                                    <input id="txtApellidoMaterno" name="ApellidoMaterno" type="text" class="form-control" placeholder="Ingresar apellido materno" value="@listaUsuario[0].ApellidoPaterno" />
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Usuario:</label>
                                                    <span class="text-danger">*</span>
                                                    <input id="txtUsuario" name="Usuario" type="text" class="form-control" placeholder="Ingresar usuario" value="@listaUsuario[0].Usuario" />
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <div class="col-lg-6">
                                                    <label>Contraseña:</label>
                                                    <span class="text-danger">*</span>
                                                    <input id="txtPassword" name="Password" type="password" class="form-control" placeholder="Ingresar contraseña" value="@listaUsuario[0].Password" />
                                                </div>
                                                <div class="col-lg-6">
                                                    <label>Rol:</label>
                                                    <span class="text-danger">*</span>
                                                    
                                                    <select id="dropRol" name="Rol" class="form-control" data-size="7" data-live-search="true">
                                                        <option value="">Seleccione...</option>
                                                        @foreach (InventarioImpresoras.Models.Roles rol in listaRoles)
                                                        {
                                                            if (@listaUsuario[0].Roles[0].IdRol == @rol.IdRol){
                                                                <option value="@rol.IdRol" selected>@rol.Rol</option>
                                                            }else
                                                            {
                                                                <option value="@rol.IdRol">@rol.Rol</option>
                                                            }
                                                        }
                                                        
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="example-code mt-10">
                                                <ul class="example-nav nav nav-tabs nav-bold nav-tabs-line nav-tabs-line-2x">
                                                    <li class="nav-item">
                                                        <a class="nav-link active" data-toggle="tab" href="#example_code_html">HTML</a>
                                                    </li>
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane active" id="example_code_html" role="tabpanel">
                                                        <div class="example-highlight">
                                                            <pre style="height:400px">
                                                    </pre>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group row">
                                                    <label class="col-form-label text-right col-lg-3 col-sm-12">URL *</label>
                                                    <div class="col-lg-9 col-md-9 col-sm-12">
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text">
                                                                    <i class="flaticon2-website"></i>
                                                                </span>
                                                            </div>
                                                            <input type="text" class="form-control" name="url" placeholder="Enter your url" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="row">
                                                <div class="col-lg-12" style="text-align:center;">
                                                    <input id="txtIdUsuario" type="hidden" value="@ViewBag.idUsuario" />
                                                    <a href="@Url.Action("Index", "Usuario")" class="btn btn-light-primary font-weight-bold">Cancelar</a>
                                                    <button id="btnEditar" type="submit" class="btn btn-primary font-weight-bold mr-2" name="submitButton">Guardar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @Html.Partial("~/Views/Shared/_Footer.cshtml")
        </div>
    </div>
</div>
@section Scripts {
    <script src="/js/validaciones/editarUsuario.js" type="text/javascript"></script>
    <script>
        function editarUsuario() {
            let idUsuario = $("#txtIdUsuario").val()
            let nombre = $("#txtNombres").val()
            let apellidoPaterno = $("#txtApellidoPaterno").val()
            let apellidoMaterno = $("#txtApellidoMaterno").val()
            let usuario = $("#txtUsuario").val()
            let password = $("#txtPassword").val()
            let idRol = $("#dropRol").val()

            $.ajax({
                url: "/Usuario/editar",
                data: { idUsuario: idUsuario, nombre: nombre, apellidoPaterno: apellidoPaterno, apellidoMaterno: apellidoMaterno, usuario: usuario, password: password, idRol: idRol },
                type: "POST",
                success: function (response) {
                    if (response > 0) {
                        swal.fire({
                            icon: "success",
                            buttonsStyling: false,
                            confirmButtonText: "Ok!",
                            title: "Registro editado con &eacutexito!",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then(function () {
                            KTUtil.scrollTop();
                        });
                        //aki un redirect
                        //window.redirect
                        setTimeout(() => {
                            window.location.href = "/Usuario"
                        }, "3000");
                        
                    }
                    else {
                        swal.fire({
                            icon: "error",
                            buttonsStyling: false,
                            confirmButtonText: "Ok!",
                            title: "Ocurrio un error!",
                            text: "Contacta a tu administrador",
                            customClass: {
                                confirmButton: "btn font-weight-bold btn-light-primary"
                            }
                        }).then(function () {
                            KTUtil.scrollTop();
                        });
                    }
                }
            })
        }

        $(document).ready(function () {
            $("#btnEditar").click(function (e) {
                e.preventDefault()
                validarCampos()
            })
        })
    </script>
}
